<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.flaticon.es%2Ficono-gratis%2Fs_3564120&psig=AOvVaw1cEu96F0kDtxaz8oNufDSu&ust=1646632382384000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCLiQ-OTlsPYCFQAAAAAdAAAAABAD">First website</a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto p-1">
                <li class="nav-item">
                    <a
                        class="nav-link active"
                        aria-current="page"
                        href="/"
                        ><i class="fa-solid fa-house-chimney"></i> Home</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact"><i class="fa-solid fa-address-card"></i> Contacts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#about"><i class="fa-solid fa-user-group"></i> About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>